<section>
    <div class="h-carousel-container swiper">
        <div class="h-carousel-content">
            <div class="card-wrapper swiper-wrapper">
                <div class="h-card swiper-slide">
                    <div class="h-card-image-content">
                        <span class="overlay"></span>

                        <div class="h-card-image">
                            <img src="../../../../../../src/Profile_resize.jpg" alt="" class="h-card-img">
                        </div>
                    </div>

                    <div class="h-card-content">
                        <h2 class="name">David Dell</h2>
                        <p class="description">The lorem text the section that contains header with having open
                            functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                        <button class="h-card-button">View More</button>
                    </div>
                </div>
                <div class="h-card swiper-slide">
                    <div class="h-card-image-content">
                        <span class="overlay"></span>

                        <div class="h-card-image">
                            <img src="../../../../../../src/Profile_resize.jpg" alt="" class="h-card-img">
                        </div>
                    </div>

                    <div class="h-card-content">
                        <h2 class="name">David Dell</h2>
                        <p class="description">The lorem text the section that contains header with having open
                            functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                        <button class="h-card-button">View More</button>
                    </div>
                </div>
                <div class="h-card swiper-slide">
                    <div class="h-card-image-content">
                        <span class="overlay"></span>

                        <div class="h-card-image">
                            <img src="../../../../../../src/Profile_resize.jpg" alt="" class="h-card-img">
                        </div>
                    </div>

                    <div class="h-card-content">
                        <h2 class="name">David Dell</h2>
                        <p class="description">The lorem text the section that contains header with having open
                            functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                        <button class="h-card-button">View More</button>
                    </div>
                </div>
                <div class="h-card swiper-slide">
                    <div class="h-card-image-content">
                        <span class="overlay"></span>

                        <div class="h-card-image">
                            <img src="../../../../../../src/Profile_resize.jpg" alt="" class="h-card-img">
                        </div>
                    </div>

                    <div class="h-card-content">
                        <h2 class="name">David Dell</h2>
                        <p class="description">The lorem text the section that contains header with having open
                            functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                        <button class="h-card-button">View More</button>
                    </div>
                </div>
                <div class="h-card swiper-slide">
                    <div class="h-card-image-content">
                        <span class="overlay"></span>

                        <div class="h-card-image">
                            <img src="../../../../../../src/Profile_resize.jpg" alt="" class="h-card-img">
                        </div>
                    </div>

                    <div class="h-card-content">
                        <h2 class="name">David Dell</h2>
                        <p class="description">The lorem text the section that contains header with having open
                            functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                        <button class="h-card-button">View More</button>
                    </div>
                </div>
                <div class="h-card swiper-slide">
                    <div class="h-card-image-content">
                        <span class="overlay"></span>

                        <div class="h-card-image">
                            <img src="../../../../../../src/Profile_resize.jpg" alt="" class="h-card-img">
                        </div>
                    </div>

                    <div class="h-card-content">
                        <h2 class="name">David Dell</h2>
                        <p class="description">The lorem text the section that contains header with having open
                            functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                        <button class="h-card-button">View More</button>
                    </div>
                </div>
                <div class="h-card swiper-slide">
                    <div class="h-card-image-content">
                        <span class="overlay"></span>

                        <div class="h-card-image">
                            <img src="../../../../../../src/Profile_resize.jpg" alt="" class="h-card-img">
                        </div>
                    </div>

                    <div class="h-card-content">
                        <h2 class="name">David Dell</h2>
                        <p class="description">The lorem text the section that contains header with having open
                            functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                        <button class="h-card-button">View More</button>
                    </div>
                </div>
                <div class="h-card swiper-slide">
                    <div class="h-card-image-content">
                        <span class="overlay"></span>

                        <div class="h-card-image">
                            <img src="../../../../../../src/Profile_resize.jpg" alt="" class="h-card-img">
                        </div>
                    </div>

                    <div class="h-card-content">
                        <h2 class="name">David Dell</h2>
                        <p class="description">The lorem text the section that contains header with having open
                            functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                        <button class="h-card-button">View More</button>
                    </div>
                </div>
                <div class="h-card swiper-slide">
                    <div class="h-card-image-content">
                        <span class="overlay"></span>

                        <div class="h-card-image">
                            <img src="../../../../../../src/Profile_resize.jpg" alt="" class="h-card-img">
                        </div>
                    </div>

                    <div class="h-card-content">
                        <h2 class="name">David Dell</h2>
                        <p class="description">The lorem text the section that contains header with having open
                            functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                        <button class="h-card-button">View More</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-button-next swiper-navBtn"></div>
        <div class="swiper-button-prev swiper-navBtn"></div>
        <div class="swiper-pagination"></div>
    </div>
</section>