<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel booking</title>
    <%- include('partials/stylesheetFiles.ejs') %>
</head>
<body>
    <%- include('partials/components/navigation.ejs') %>
    <%- include('partials/components/footer.ejs') %>
</body>
</html>