@use "../variables" as v;
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=PT+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

body {
    background: v.$vis-vis;
    width: 100%;
    height: 100%;
    padding-left: calc(100% - 93%);
    padding-right: calc(100% - 93%);
}

.hidden {
    display: none;
}