@use "../variables" as v;
/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.h-carousel-container {
    // max-width: 1120px;
    width: 100%;
    padding: 40px 0;

    .h-carousel-content {
        margin: 0 40px;
        overflow: hidden;
        border-radius: 25px;
        padding: 10px 0px 35px 0px;

        .h-card {
            border-radius: 25px;
            background-color: v.$candlelight;
            box-shadow: v.$teak 0px 13px 27px -5px, v.$teak 0px 8px 16px -8px;

            .h-card-image-content,
            .h-card-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px 14px;
            }

            .h-card-image-content {
                position: relative;
                row-gap: 5px;
                padding: 25px 0;

                .overlay {
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    background-color: v.$pirate-gold;
                    border-radius: 25px 25px 0 25px;
                }

                .overlay::before,
                .overlay::after {
                    content: '';
                    position: absolute;
                    right: 0;
                    bottom: -40px;
                    height: 40px;
                    width: 40px;
                    background-color: v.$pirate-gold;
                }

                .overlay::after {
                    border-radius: 0 25px 0 0;
                    background-color: v.$candlelight;
                }

                .h-card-image {
                    position: relative;
                    height: 150px;
                    width: 150px;
                    border-radius: 50%;
                    background: v.$vis-vis;
                    padding: 3px;

                    .h-card-img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        border-radius: 50%;
                        border: 4px solid v.$teak;
                    }
                }
            }

            .h-card-content {
                .name {
                    font-size: 18px;
                    font-weight: 500;
                    color: v.$pirate-gold;
                }

                .description {
                    font-size: 14px;
                    color: v.$tuatara;
                    text-align: center;
                }

                .h-card-button {
                    border: none;
                    font-size: 16px;
                    color: v.$pirate-gold;
                    padding: 8px 16px;
                    background-color: v.$candlelight;
                    border-radius: 6px;
                    margin: 14px;
                    cursor: pointer;
                    transition: all 0.3s ease;
                }

                .h-card-button:hover {
                    color: v.$vis-vis;
                    background: v.$pirate-gold;
                }
            }
        }
    }

    .swiper-navBtn {
        color: v.$teak;
        transition: color 0.3s ease;
    }

    .swiper-navBtn:hover {
        color: v.$pirate-gold;
    }

    .swiper-navBtn::before,
    .swiper-navBtn::after {
        font-size: 35px;
    }

    .swiper-button-next {
        right: 0;
    }

    .swiper-button-prev {
        left: 0;
    }

    .swiper-pagination-bullet {
        background-color: v.$teak;
        opacity: 1;
    }

    .swiper-pagination-bullet-active {
        background-color: v.$pirate-gold;
    }

    @media screen and (max-width: 768px) {
        .h-carousel-content {
            margin: 0 10px;
        }

        .swiper-navBtn {
            display: none;
        }
    }
}