@use "../variables" as v;
$search-box-shadow: -1px -2px 2px v.$teak, 1px 2px 2px v.$teak;

.h-nav {
    nav {
        display: flex;
        width: auto;
        max-width: 100%;
        background-color: v.$candlelight;
        padding: 3px;
        justify-content: space-between;
        align-items: center;
        text-align: center;

        .h-nav-home {
            flex-grow: 0.375;
        }

        .h-nav-searchbar {
            position: relative;
            align-items: center;
            width: calc(100% - 60%);
            background: v.$vis-vis;
            flex-grow: 1.1;
            border-radius: 0.275rem;

            .h-nav-search-label {
                height: max-content;
                padding: 0.375rem;
                border-top-left-radius: 0.375rem;
                border-bottom-left-radius: 0.375rem;
                color: v.$pirate-gold;
            }

            .h-nav-search-inp {
                background: v.$vis-vis;
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
                color: v.$smalt-blue;
                letter-spacing: v.$ltr-spacing;
                border: none;

                &:focus {
                    outline: none !important;
                    border: none;
                    box-shadow: none;
                }

                &::-webkit-search-decoration,
                &::-webkit-search-cancel-button,
                &::-webkit-search-results-button,
                &::-webkit-search-results-decoration {
                    display: none;
                }

                &::placeholder {
                    width: calc(100% - 20%);
                }
            }

            .h-nav-search-cancel {
                position: absolute;
                right: 5px;
                cursor: pointer;
                background: v.$vis-vis;

                i {
                    padding: 0.275rem 0.375rem 0.275rem 0.375rem;

                    &:hover {
                        background: v.$candlelight;
                        border-radius: 100%;
                        color: v.$smalt-blue;
                    }
                }
            }
        }

        .h-nav-advertise,
        .h-nav-user {
            font-size: 1.3rem;
        }

        .h-nav-advertise {
            flex-grow: 0.5;
            justify-content: space-evenly;
            letter-spacing: v.$ltr-spacing;
            color: v.$tuatara;
            gap: 10px;

            div {
                padding: 1.5px;

                a {
                    font-weight: 500;
                    &:hover {
                        border-bottom: 2px solid v.$smalt-blue;
                    }
                }
            }
        }

        .h-nav-user {
            flex-grow: 0.01;

            button {
                font-size: 1.3rem;
                color: v.$smalt-blue;
            }
        }
    }
}