@use "../variables" as v;
$search-box-shadow: -1px -2px 2px v.$teak, 1px 2px 2px v.$teak;

.h-nav {
    width: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;

    nav {
        display: flex;
        background-color: v.$candlelight;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        padding: 3px;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        border-radius: 2px;

        .h-nav-home {
            flex-grow: 0.375;
        }

        .h-nav-searchbar {
            position: relative;
            align-items: center;
            width: calc(100% - 60%);
            background: v.$vis-vis;
            flex-grow: 1.1;
            border-radius: 0.275rem;

            .h-nav-search-label {
                height: max-content;
                padding: 0.375rem;
                border-top-left-radius: 0.375rem;
                border-bottom-left-radius: 0.375rem;
                color: v.$pirate-gold;
            }

            .h-nav-search-inp {
                background: v.$vis-vis;
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
                color: v.$smalt-blue;
                letter-spacing: v.$ltr-spacing;
                border: none;

                &:focus {
                    outline: none !important;
                    border: none;
                    box-shadow: none;
                }

                &::-webkit-search-decoration,
                &::-webkit-search-cancel-button,
                &::-webkit-search-results-button,
                &::-webkit-search-results-decoration {
                    display: none;
                }

                &::placeholder {
                    width: calc(100% - 20%);
                }
            }

            .h-nav-search-cancel {
                position: absolute;
                right: 5px;
                cursor: pointer;
                background: v.$vis-vis;

                i {
                    padding: 0.275rem 0.375rem 0.275rem 0.375rem;

                    &:hover {
                        background: v.$candlelight;
                        border-radius: 100%;
                        color: v.$smalt-blue;
                    }
                }
            }
        }

        .h-nav-advertise,
        .h-nav-user {
            font-size: 1.3rem;
        }

        .h-nav-advertise {
            flex-grow: 0.5;
            justify-content: space-evenly;
            letter-spacing: v.$ltr-spacing;
            gap: 10px;

            div {
                padding: 0 0.375rem 0 0.375rem;

                a {
                    color: v.$tuatara;
                    font-weight: 500;
                    text-decoration: none;

                    &:hover {
                        color: v.$smalt-blue;
                    }
                }

                &:hover {
                    background: v.$vis-vis;
                    border-radius: 0.375rem;
                }
            }
        }

        .h-nav-user {
            flex-grow: 0.01;

            a,
            button {
                font-size: 1.3rem;
                color: v.$smalt-blue;
            }

            .h-nav-profile {
                width: 200px;
                background: v.$vis-vis;
                color: v.$pirate-gold;

                .h-nav-profile-header {
                    a {
                        font-size: 13px;

                        &:hover {
                            background: v.$pirate-gold;
                            color: v.$vis-vis;
                        }
                    }
                }

                .h-nav-profile-body {
                    form {
                        width: 100%;
                        height: 100%;

                        .h-nav-profile-wrapper {
                            display: flex;
                            flex-flow: column;
                            row-gap: 5px;
                            align-items: flex-start;

                            div {
                                width: 100%;
                                text-align: left;
                                padding: 5px;
                                border-radius: 3px;
                                transition: background .1s ease-in-out;

                                &:hover:not(.h-nav-profile-avatar) {
                                    background: v.$vis-vis-2;
                                }
                            }

                            .h-nav-profile-avatar {
                                text-align: center;
                            }

                            hr {
                                background: v.$pirate-gold;
                                width: 100%;
                                height: 1.8px;
                            }

                            span,
                            a,
                            button {
                                display: block;
                                width: inherit;

                                font-size: 13px;
                                letter-spacing: v.$ltr-spacing;
                                color: v.$smalt-blue;
                                text-decoration: none;
                                text-align: left;

                                &:hover {
                                    color: v.$pirate-gold;
                                }
                            }

                            button {
                                padding: 0px
                            }
                        }
                    }
                }
            }

            img {
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }
}