@use "../variables" as v;
$search-box-shadow: -1px -2px 2px v.$teak, 1px 2px 2px v.$teak;

.h-nav {
    width: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;

    nav {
        display: flex;
        background-color: v.$candlelight;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        padding: 3px;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        border-radius: 2px;

        .h-nav-home {
            flex-grow: 0.375;
        }

        .h-nav-searchbar {
            position: relative;
            align-items: center;
            width: calc(100% - 80%);
            background: v.$vis-vis;
            flex-grow: 1;
            border-radius: 0.275rem;

            .h-nav-search-label {
                height: max-content;
                padding: 0.375rem;
                border-top-left-radius: 0.375rem;
                border-bottom-left-radius: 0.375rem;
                color: v.$pirate-gold;
            }

            .h-nav-search-inp {

                &::placeholder {
                    width: calc(100% - 20%);
                }
            }

            .h-nav-search-control {
                position: absolute;
                right: 5px;

                display: flex;
                background: v.$vis-vis;
                padding: 4px;
                gap: 3px;

                .h-nav-search-cancel,
                .h-nav-search-filter {
                    cursor: pointer;

                    i {
                        padding: 0.275rem 0.375rem 0.275rem 0.375rem;

                        &:hover {
                            background: v.$candlelight;
                            border-radius: 50%;
                            color: v.$smalt-blue;
                        }
                    }
                }
            }

            .h-nav-filter {
                background: v.$vis-vis;
                top: 40px;

                .toast {
                    background: v.$vis-vis-2;

                    .toast-header {
                        background: v.$vis-vis;

                        strong {
                            color: v.$pirate-gold;
                        }

                        .h-nav-filter-save {
                            font-size: 12px;

                            &:hover {
                                background: v.$pirate-gold;
                                color: v.$vis-vis;
                            }
                        }
                    }

                    .h-nav-filter-type {
                        display: flex;
                        flex-flow: column;
                        align-items: flex-start;
                        row-gap: 3px;
                        width: 100%;

                        div {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            color: v.$pirate-gold;

                            width: inherit;

                            label {
                                font-size: 12px;
                                min-width: 70px;
                                text-align: left;
                                margin-right: 4px;
                                letter-spacing: v.$ltr-spacing;
                                text-decoration: underline;
                            }

                            input, select {
                                font-size: 13px;
                                border-radius: 0.275rem;

                                &[type="range"] {
                                    -webkit-appearance: none;
                                    appearance: none;

                                    &::-webkit-slider-runnable-track {
                                        background: v.$vis-vis;
                                    }

                                    &::-webkit-slider-thumb {
                                        -webkit-appearance: none;
                                        appearance: none;
                                        background-color: v.$teak;
                                        height: 12px;
                                        width: 12px;
                                        border-radius: 50%;

                                        &:hover {
                                            background-color: v.$pirate-gold;
                                        }
                                    }

                                    &:focus {
                                        outline: none;
                                    }
                                }
                            }

                            .rating-value {
                                width: 25px;
                                margin: 0px 0px 0px 3px;
                            }
                        }
                    }
                }
            }

            input, select {
                background: v.$vis-vis;
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
                color: v.$smalt-blue;
                letter-spacing: v.$ltr-spacing;
                border: none;

                &:focus {
                    outline: none !important;
                    border: none;
                    box-shadow: none;
                }

                &::-webkit-search-decoration,
                &::-webkit-search-cancel-button,
                &::-webkit-search-results-button,
                &::-webkit-search-results-decoration {
                    display: none;
                }
            }
        }

        .h-nav-advertise,
        .h-nav-user {
            font-size: 1.3rem;
        }

        .h-nav-advertise {
            flex-grow: 0.5;
            justify-content: flex-end;
            letter-spacing: v.$ltr-spacing;
            gap: 10px;

            div {
                padding: 0 0.375rem 0 0.375rem;

                a {
                    color: v.$tuatara;
                    font-weight: 500;
                    text-decoration: none;

                    &:hover {
                        color: v.$smalt-blue;
                    }
                }

                &:hover {
                    background: v.$vis-vis;
                    border-radius: 0.375rem;
                }
            }
        }

        .h-nav-user {
            flex-grow: 0.01;

            a,
            button {
                font-size: 1.3rem;
                color: v.$smalt-blue;
            }

            .h-nav-profile {
                width: 200px;
                background: v.$vis-vis;
                color: v.$pirate-gold;

                .h-nav-profile-header {
                    a {
                        font-size: 13px;

                        &:hover {
                            background: v.$pirate-gold;
                            color: v.$vis-vis;
                        }
                    }
                }

                .h-nav-profile-body {
                    form {
                        width: 100%;
                        height: 100%;

                        .h-nav-profile-wrapper {
                            display: flex;
                            flex-flow: column;
                            row-gap: 5px;
                            align-items: flex-start;

                            div {
                                width: 100%;
                                text-align: left;
                                padding: 5px;
                                border-radius: 3px;
                                transition: background .1s ease-in-out;

                                &:hover:not(.h-nav-profile-avatar) {
                                    background: v.$vis-vis-2;
                                }
                            }

                            .h-nav-profile-avatar {
                                text-align: center;
                            }

                            hr {
                                background: v.$pirate-gold;
                                width: 100%;
                                height: 1.8px;
                            }

                            span,
                            a,
                            button {
                                display: block;
                                width: inherit;

                                font-size: 13px;
                                letter-spacing: v.$ltr-spacing;
                                color: v.$smalt-blue;
                                text-decoration: none;
                                text-align: left;

                                &:hover {
                                    color: v.$pirate-gold;
                                }
                            }

                            button {
                                padding: 0px
                            }
                        }
                    }
                }
            }

            img {
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }
}