@use "../variables" as v;
$search-box-shadow: -1px -2px 2px v.$teak, 1px 2px 2px v.$teak;

.h-nav {
    width: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;

    nav {
        display: flex;
        background-color: v.$candlelight;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        padding: 3px;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        border-radius: 2px;

        .h-nav-home {
            flex-grow: 0.375;
        }

        .h-nav-searchbar {
            position: relative;
            align-items: center;
            width: calc(100% - 60%);
            background: v.$vis-vis;
            flex-grow: 1.1;
            border-radius: 0.275rem;

            .h-nav-search-label {
                height: max-content;
                padding: 0.375rem;
                border-top-left-radius: 0.375rem;
                border-bottom-left-radius: 0.375rem;
                color: v.$pirate-gold;
            }

            .h-nav-search-inp {
                background: v.$vis-vis;
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
                color: v.$smalt-blue;
                letter-spacing: v.$ltr-spacing;
                border: none;

                &:focus {
                    outline: none !important;
                    border: none;
                    box-shadow: none;
                }

                &::-webkit-search-decoration,
                &::-webkit-search-cancel-button,
                &::-webkit-search-results-button,
                &::-webkit-search-results-decoration {
                    display: none;
                }

                &::placeholder {
                    width: calc(100% - 20%);
                }
            }

            .h-nav-search-cancel {
                position: absolute;
                right: 5px;
                cursor: pointer;
                background: v.$vis-vis;

                i {
                    padding: 0.275rem 0.375rem 0.275rem 0.375rem;

                    &:hover {
                        background: v.$candlelight;
                        border-radius: 100%;
                        color: v.$smalt-blue;
                    }
                }
            }
        }

        .h-nav-advertise,
        .h-nav-user {
            font-size: 1.3rem;
        }

        .h-nav-advertise {
            flex-grow: 0.5;
            justify-content: space-evenly;
            letter-spacing: v.$ltr-spacing;
            gap: 10px;

            div {
                padding: 0 0.375rem 0 0.375rem;

                a {
                    color: v.$tuatara;
                    font-weight: 500;
                    text-decoration: none;

                    &:hover {
                        color: v.$smalt-blue;
                    }
                }

                &:hover {
                    background: v.$vis-vis;
                    border-radius: 0.375rem;
                }
            }
        }

        .h-nav-user {
            flex-grow: 0.01;

            a,
            button {
                font-size: 1.3rem;
                color: v.$smalt-blue;
            }

            .h-nav-profile {
                width: 200px;
                background: v.$vis-vis;
                color: v.$pirate-gold;

                .h-nav-profile-header {
                    a {
                        font-size: 13px;

                        &:hover {
                            background: v.$pirate-gold;
                            color: v.$vis-vis;
                        }
                    }
                }

                .h-nav-profile-body {
                    display: flex;
                    flex-flow: column;
                    row-gap: 5px;

                    .h-nav-avatar-name-wrapper {
                        display: flex;
                        flex-flow: column;
                        flex-wrap: wrap;

                        .h-nav-profile-avatar {
                            width: 100%;
                        }

                        hr {
                            background: v.$pirate-gold;
                            height: 1.8px;
                        }

                        .h-nav-profile-name {
                            width: 100%;
                            text-align: left;

                            span {
                                display: block;
                                width: inherit;
                                color: v.$smalt-blue;
                                font-size: 15px;
                                cursor: pointer;
                                letter-spacing: v.$ltr-spacing;

                                &:hover {
                                    color: v.$pirate-gold;
                                }
                            }
                        }

                        img {
                            border: 1px solid v.$pirate-gold;
                        }
                    }

                    .h-nav-profile-logout {
                        text-align: start;

                        button {
                            letter-spacing: v.$ltr-spacing;
                            font-size: 15px;
                            padding: 0px;
                        }
                    }
                }

                button:hover {
                    color: v.$pirate-gold;
                }
            }

            img {
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }
}