<div class="h-footer">
    <footer>
        <div class="h-footer-container">
            <div class="h-footer-about footer-component">
                <a href="/about">About Us</a>
            </div>
            <div class="h-footer-contact footer-component">
                <a href="/contact">Contact</a>
            </div>
            <div class="h-footer-tnc footer-component">
                <a href="/terms">Terms and Conditions</a>
            </div>
            <div class="h-footer-copy footer-component">
                <span class="copyright">
                    &copy; 2023 Book Aashiyana. All rights reserved.
                </span>
            </div>
        </div>
    </footer>

</div>