<div class="h-footer">
    <footer>
        <div class="h-footer-container">
            <div class="h-footer-items">
                <div class="h-footer-author" data-content="Author">
                    <div class="h-footer-item-about">
                        <a href="/about">About Us</a>
                    </div>
                    <div class="h-footer-item-contact">
                        <a href="/contact">Contact</a>
                    </div>
                    <div class="h-footer-item-author">
                        <a href="/author">Author</a>
                    </div>
                    <div class="h-footer-item-sitemap">
                        <a href="/sitemap">Sitemap</a>
                    </div>
                </div>
                <div class="h-footer-social" data-content="Social">
                    <div class="h-footer-twitter"><a href=""><i class="bi bi-twitter"></i></a></div>
                    <div class="h-footer-youtube"><a href=""><i class="bi bi-youtube"></i></a></div>
                    <div class="h-footer-facebook"><a href=""><i class="bi bi-facebook"></i></a></div>
                    <div class="h-footer-instagram"><a href=""><i class="bi bi-instagram"></i></a></div>
                    <div class="h-footer-linkedin"><a href=""><i class="bi bi-linkedin"></i></a></div>
                </div>
                <div class="h-footer-pnp" data-content="Consent">
                    <div class="h-footer-item-pnp">
                        <a href="/pnp">Privacy and policy</a>
                    </div>
                    <div class="h-footer-item-tnc">
                        <a href="/terms">Terms and Conditions</a>
                    </div>
                </div>
            </div>
            <div class="h-footer-copy">
                <span class="copyright">
                    &copy; 2023 Book Aashiyana. All rights reserved.
                </span>
            </div>
        </div>
    </footer>

</div>