<div class="h-footer">
    <footer>
        <div class="footer-container">
            <div class="footer-component">
                <a href="/about">About Us</a>
            </div>
            <div class="footer-component">
                <a href="/contact">Contact</a>
            </div>
            <div class="footer-component">
                <a href="/terms">Terms and Conditions</a>
            </div>
            <div class="footer-component">
                <span class="copyright">
                    &copy; 2023 Book Aashiyana. All rights reserved.
                </span>
            </div>
        </div>
    </footer>

</div>