<div class="h-nav">
    <nav>
        <div class="h-nav-home">
            <a href="/" class="h-nav-icon"><img src="../../../../../../src/Aashiyana.png" alt="Aashiyana" width="70"
                    height="60"></a>
        </div>
        <div class="h-nav-searchbar d-flex">
            <label for="hNavSearch" class="h-nav-search-label"><i class="bi bi-search"></i></label>
            <input type="search" class="form-control h-nav-search-inp" name="hNavSearch" id="hNavSearch" placeholder="Search hotels"/>
            <div class="h-nav-search-cancel"><i class="bi bi-x-lg"></i></div>
        </div>
        <div class="h-nav-advertise d-flex">
            <div class="h-nav-trend"><a href="/">Trend</a></div>
            <div class="h-nav-book-now"><a href="/">Book Now!</a></div>
        </div>
        <div class="h-nav-user">
            <!-- <button type="button" class="btn">Sign in</button> -->
            <% if(guest) { %>
                <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><img src="<%=guest.avatar%>" alt="user_img" height="50" width="50" /></button>

                <div class="h-nav-profile offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                    <div class="h-nav-profile-header offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasRightLabel">Profile</h5>
                        <a href="" class="btn">Edit <i class="bi bi-pencil-square"></i></a>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="h-nav-profile-body offcanvas-body">
                        <form action="/auth/logout" method="post" class="h-nav-profile-logout">
                            <div class="h-nav-profile-wrapper">
                                <div class="h-nav-profile-avatar"><img src="<%=guest.avatar%>" alt="user_img" height="80" width="80" /></div>
                                <hr>
                                <div class="h-nav-profile-name"><span><%=guest.name%></span></div>
                                <div class="h-nav-profile-bookings"><a href="">Bookings</a></div>
                                <div class="h-nav-profile-logout"><button type="submit" class="btn">Sign out <i class="bi bi-box-arrow-right"></i></button></div>
                            </div>
                        </form>
                    </div>
                </div>
            <% } else { %>
                <a href="/auth/login" class="btn">Sign in</a>
            <% } %>
        </div>
    </nav>
</div>